*{
  text-transform: capitalize;
  font-family: Roboto, sans-serif;
}

.content{
  box-sizing: border-box;
  background-color: dimgray;
  margin: auto;
  display: flex;
  margin-top: 4%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 45%;
  height: 100%;
  font-size: 24px;
  padding: 40px;
  color: white;
  border: 4px double white;
}

div{
  margin-top: 10px;
}

img{
  border-radius: 50%;
  margin: 20px 0;
  border: 2px solid white;
}